footer {
  width: 100%;
  background-color: #000000; // Cor de fundo desejada
  color: white; // Cor do texto desejada
  text-align: center;
  padding: 20px; // Adapte conforme necessário
   

  display: flex;
  flex-direction: column;
  align-items: center;
}

.rodape {
  margin-top: 30px; 
}