footer{
    background-color: #000;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  h1 {
    font-size: 1.0em;
    margin-bottom: 10px;
  }
  
  p {
    margin: 5px 0;
  }
  
  
  p:nth-child(odd) {
    font-weight: bold;
  }
  
  
  p:nth-child(even) {
    margin-bottom: 15px;
  }